@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");

$accent-color: #d87d4a;
$accent-color-light: #fbaf85;
$dark-color: #101010;
$shade-color: #f1f1f1;
$shade-color-light: #fafafa;
$background-color: #ffffff;

$font-stack: Manrope, sans-serif;
